@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#app {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'inter', sans-serif;
  width: 85%;
  margin: 0 auto;
  background-color: #fff;
}


#icon1,
#icon2 {
  width: 100%;
}

.container1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  z-index: 10;
  background-color: #fff;
  top: 0;
  position: sticky;
}

.title {
  display: flex;
  /* justify-content: center; */
  gap: 30px;
  width: 65%;
}

.navlinks {
  font-family: sans-serif;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border: none;
  color: #303e6f;
}

#category {
  border: none;
  padding: 3px;
  font-size: 18px;
  background-color: #fff;
}

#contactdisplay {
  text-decoration: none;
  color: #000;
}

.basket {
  width: 34%;
  display: flex;
  height: 90px;
  gap: 40px;
}

#fashionhub {
  text-decoration: none;
  font-weight: 600;
  color: #303e6f;
}

#basketimg {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  border: none;
  width: 10%;
  padding: 30px 5px;
}

#bell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

.fa-regular {
  position: relative;

}

.fa-solid {
  position: relative;
  color: #ffa500;
}

#bells {
  position: absolute;
  margin-bottom: 39px;
  margin-right: -9px;
  padding: 5px;
  background-color: #e59808;
  border-radius: 50%;
}

#items-selected {
  position: absolute;
  margin-right: -9px;
  margin-bottom: 35px;
  padding: 3px;
  color: #fff;
  background-color: #303e6f;
  border-radius: 50%;
}

.stars {
  display: flex;
  padding-top: 20px;
  gap: 5px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-image {
  display: flex;
  width: 26%;
  height: 40px;
  gap: 18px;
}

.title-image img {
  border-radius: 50%;
}

#gmorning,
#johnson {
  padding: 3px;
  font-size: 12px;
}

#johnson {
  color: #303e6f;
  background-color: #ffffff;
}

#gmorning {
  color: #776e6e;
}

.container2 {
  padding-top: 90px;
}

.buy-now-section {
  /* border-radius: 8px; */
  background-color: #f4e8f3;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 15rem;
}

.grap-50 {
  background: #f4e8f3;
  padding-bottom: 20px;
  width: 55%;
}

.avatar {
  background: #f4e8f3;
  font-size: 13px;
  font-weight: 500;
  color: #777;
  padding-left: 9rem;
}

#img {
  margin-top: -50px;
  object-fit: contain;
}

hr {
  color: #f1f4f1;
}

#headphone {
  color: #303e6f;
  font-size: 34px;
  padding: 10px;
  padding-bottom: 14px;
  width: 50%;
}

#buynow {
  background: #303e6f;
  color: #fff;
  font-size: 15px;
  width: 21%;
  margin-top: 2rem;
  padding: 13px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  box-shadow: 0 6px 6px #553ff040;
  cursor: pointer;
}

.container3 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container4 {
  width: 100%;
  background-color: fff;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.dropdown-buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: #303e6f;
  padding: 10px;

}

.price {
  display: flex;
  gap: 20px;
}

#headers {
  padding: 10px;
  border-radius: 40px;
  border: none;
  margin: 0 auto;
  background-color: #e9e9e9;
}

#headerss {
  padding: 12px;
  border-radius: 40px;
  border: solid 0.5px #e9e8e8;
  background-color: #fff;
}

.dropdownn {
  border-radius: 38.5%;
  padding: 10px;
}

.fa-solid {
  padding: 10px;
}

.subcard {
  gap: 30px;
  position: relative;
}


.subcard img {
  width: 100%;
  height: 200px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.subcard .fa-regular {
  padding-top: 20px;
  position: absolute;
  margin-left: -50px;
}

.snikersprice {
  padding: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  color: #303e6f;
  justify-content: space-between;

}

#snykers-price {
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
}

#snykers {
  color: #b3aeae;
  font-size: 15px;
}

.top {
  width: 100%;
  background-color: fff;
  border: 1px solid #6a6666;
  border-radius: 6px;
}

.date {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  gap: 8px;
}

#addtocard {
  padding: 7px;
  color: #f1e7e7;
  background-color: #303e6f;
  border: none;
  border-radius: 40px;
}

#addtocard:hover {
  cursor: pointer;
}

#hover {
  position: relative;
}

#shortlist {
  padding: 9px;
  color: #303e6f;
  border-radius: 40px;
  border: none;
}

#number {
  color: #646161;
}

#shoes {
  padding: 5px;
  color: #afa9a9;
}

.container5 {
  padding-top: 55px;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #303e6f;
}

.previews {
  display: flex;
  gap: 20px;
  padding: 10px;
}

#previews {
  padding: 20px;
  border: none;
  cursor: pointer;
}

#previews:hover {
  background-color: #f4e8f3;
}

.container6 {
  background-color: #f4e8f3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 200px;
}

#footer {
  font-weight: 600;
  font-size: 30px;
}

/* contact */

.contain1 {
  padding-top: 50px;
}

.text1 {
  font-size: 35px;
  font-weight: bold;
}

.icon1 {
  display: flex;
  padding-top: 3rem;
  gap: 2rem;
  align-items: center;
}

.text2,
.small {
  color: #776e6e;
}

#icone {
  width: 20px;
}

#link {
  color: #2e82ba;
  text-decoration: none;
}

.form {
  display: flex;
  gap: 3rem;
}

.iconne {
  font-size: 22px;
  font-weight: bold;
}

.contain1 {
  padding-left: 60px;
  width: 30%;
  background-color: #f9fafb;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

#drop {
  justify-content: center;
  position: absolute;
  padding: 9px 2px;
  align-items: center;
  border: none;
  background-color: #d9dbdd;
}

.contain {
  display: flex;
  justify-content: space-around;
}

.conatin2 {
  padding-top: 3rem;
}

label {
  color: #777;
}

input {
  padding: 10px;
  border: none;
  background-color: #d9dbdd;
}

.up1 {
  font-size: 35px;
  font-weight: bold;
}

#root {
  padding-left: 4rem;
}

textarea {
  padding-top: 2rem;
}

#send {
  justify-content: center;
  padding: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 3rem;
  background-color: #1472b2;
  color: #fff;
  text-align: center;
}

.textea {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start
}

/* detailspage style */

.image {
  display: flex;
  width: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 9px;
  gap: 1rem;
}

#single_product {
  width: 10rem;
  border: 2px solid #c3baba;
  padding: 3px;
  border-radius: 9px;
}

#pict_detail {
  width: 90%;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.details-picture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

#direct {
  width: 7%;
}

.details-left {
  display: flex;
  margin-top: 2rem;
  margin-left: 4rem;
}

.all-left {
  width: 100%;
}

.pict {
  display: flex;
  justify-content: center;
}

#prev,
#next {
  padding-top: 4.5rem;
}

#select {
  font-size: 17px;
  border: none;
  background-color: #e7f5ff;
  padding: 5px;
  border-radius: 8px;
}

#text-comment {
  font-weight: bold;
  font-size: 29px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gras {
  font-weight: bold;
  color: #354dad;
}

.text-color {
  color: #777;
}

.comment {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

.icons-comment {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

#ecart {
  width: 10px;
}

#hrr {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 70%;
}

#ic_comment {
  color: #cf4e4e;
  background-color: #d49898;
  padding: 6px;
  border-radius: 8px;
}

#ic_commen {
  color: #040c22;
  background-color: #9fb3e9;
  padding: 6px;
  border-radius: 8px;
}

#ic_comme {
  color: #040c22;
  background-color: #9fb3e9;
  padding: 6px;
  border-radius: 8px;
}

.prices {
  margin-left: 3rem;
  font-size: 35px;
  padding-top: 2rem;
  font-weight: bold;
  color: #064e7f;
}

.price {
  font-size: 26px;
  margin-left: 3rem;
  padding-top: 0.5rem;
  font-weight: bold;
  color: #989b9d;
  text-decoration: line-through;
}

.left {
  width: 20rem;
}

.buttom {
  display: flex;
  gap: 3rem;

}

.a5 {
  padding: 5px 5rem;
  font-size: 20px;
  border-radius: 23px;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  background-color: #c7dff0;
}

.addd {
  color: #fff;
  border-radius: 23px;
  padding: 5px 5rem;
  justify-content: center;
  background-color: #303e6f;
}

.addd:hover {
  cursor: pointer;
}

.reviews {
  display: flex;
  margin-top: 2rem;
  font-weight: bold;
  gap: 2rem;
  font-size: 20px;
}

.blue {
  color: #354dad;
}

.black {
  color: #646161;
}

.line {
  display: flex;
  margin-top: 2rem;
}

.description {
  margin-left: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}

#desc {
  font-size: 32px;
  font-weight: bold;
}

.deux {
  border: 0.5px dashed #8d8a86;
  width: fit-content;
  padding: 9px;
  border-radius: 7px;
  font-size: 20px;
  margin-top: 1rem;
}

.benefict,
.details,
.more {
  margin-top: 2.5rem;
}

.similar {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
}

.hover {
  text-decoration: none;

}


.down {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.flex {
  display: flex;
}

.simitem {
  font-size: 39px;
  font-weight: bold;
  font-family: initial;
  padding-top: -6rem;
  padding-bottom: 3rem;
}

.downLeft {
  width: 60%;
}

.single {
  width: 200%;
}

.foot {
  border: none;
  border-radius: 3px;
  background-color: #a6a4a4;
  height: 1rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.checkout {
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  background-color: #040c22;
  color: #fff;
  margin-top: 3rem;
  margin-inline: 45%;
  margin-bottom: 4rem;
  font-size: 20px;
  font-weight: bold;
}

.checkout:hover {
  cursor: pointer;
}

.remove {
  font-weight: bold;
  background-color: #b9cddf;
  cursor: pointer;
}

.addto {
  text-align: center;
  padding-top: 2rem;
  font-size: 43px;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 2rem;
}

/* payemnt */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.payment-form {
  max-width: 40vw;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

#card-number,
#products {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hello {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 9px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  font-size: 20px;
  width: 208px;
  box-shadow: #0b0b0b;
  margin: 0 auto;
}

.total {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  text-align: center;
  display: flex;
  gap: 2rem;
}

h2 {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#name,
#address,
#email {
  width: 98%;
}

#total-amount {
  font-size: 20px;
  font-weight: bold;
}